# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env

# Build artifacts
build/
dist/
*.egg-info/

# MacOS files
.DS_Store

# Pytest cache
.pytest_cache/

# Logs
*.log

# Editor files
.vscode/
.idea/
